@use 'bases/variables' as v; 
@use 'bases/mixins' as m;

.animate{
    display: none;
    @include m.tablet{
        display: block;
    }
    .animate__contenido{
        @include m.tablet{
            background-image: linear-gradient(to left, transparent 10%, transparent 45%, #000 54%, #000 -160%), url(../img/anfitrion.jpg);
            color: v.$blanco;
            padding: 11rem 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0px, 100px -1px;
        }

        @include m.desktop{
            background-image: linear-gradient(to left, transparent 10%, transparent 25%, #000 45%, #000 -160%), url(../img/anfitrion.jpg);
            padding: 15rem 0;
            background-position: 0px, 231px -52px;
            background-size: 88%;
        }

    }
    .animate__heading{
        padding-left: 5%;
        width: 45%;
    }
    .animate__text{
        color: v.$blanco;
        width: 45%;
        padding-left: 5%;
        line-height: 1.2;
    }
    .animate__link{
        @include m.boton(v.$blanco, v.$negro);
        display: inline-block;
        margin-left: 5%;
        padding: 1.2rem 4rem;
        border-radius: 10px;
    }
}