@use 'bases/variables' as v; 
@use 'bases/mixins' as m;

.vive{
    &__grid{
        @include m.scroll;
        display: grid;
        grid-template-columns: repeat(4, 76vw);
        gap: 2rem;

        @include m.tablet{ 
            grid-template-columns: repeat(4, 42vw);
        }
        @include m.desktop{ 
            @include m.grid(4, 2rem);
            overflow-x: auto;
        }
    }
    &__imagen{
        border-radius: 1.5rem;
    }
}
